.whatIsGPT-block{
    height: 625px;
    width: 81.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    margin-top: 126.85px;
    background-color: #0F4279;
    overflow: hidden;
    position: relative;
}

.whatIsGPT-block::after{
    content: '';
    position: absolute;
    top: -120px;
    left: -120px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(40px);
    background-color: #1B78DE;
}

.whatIsGPT-block::before{
    content: '';
    position: absolute;
    bottom: -120px;
    right: -120px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(40px);
    background-color: #1B78DE;
}

.whatIsGPT-block-box{
    width: 91%;
    min-height: 83%;
    z-index: 10;
    padding: 10px 10px;
}

.whatIsGPT-block-box-line{
    width: 38px;
    height: 3px;
    background: linear-gradient(to right, #AE67FA, #F49867);
}

.whatIsGPT-block-box-firstString{
    width: 100%;
    min-height: 13%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
}

.whatIsGPT-block-box-firstString-title{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-top: 2px;
}

.whatIsGPT-block-box-firstString-text{
    display: flex;
    align-items: center;
    color: #81AFDD;
    font-size: 16px;
    width: 70.321%;
}

.whatIsGPT-block-box-secondString{
    min-height: 16.4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whatIsGPT-block-box-secondString-title{
    width: 45.7%;
}

.whatIsGPT-block-box-secondString-text{
    color: #FF8A71;
    font-size: 16px;
}

.whatIsGPT-block-box-thirdString{
    margin-top: 92px;
    width: 100%;
    height: 35%;
    display: flex;
}

.whatIsGPT-block-box-thirdString-firstBox,
.whatIsGPT-block-box-thirdString-secondBox,
.whatIsGPT-block-box-thirdString-thirdBox{
    padding: 5px 0;
    width: 33.3%;
}

.whatIsGPT-block-box-thirdString-firstBox h2,
.whatIsGPT-block-box-thirdString-secondBox h2,
.whatIsGPT-block-box-thirdString-thirdBox h2{
    margin-top: 15px;
    margin-bottom: 40px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.whatIsGPT-block-box-thirdString-firstBox p,
.whatIsGPT-block-box-thirdString-secondBox p,
.whatIsGPT-block-box-thirdString-thirdBox p{
    color: #81AFDD;
    font-size: 16px;
}

@media(max-width:1024px){
    .whatIsGPT-block{
        width: 97.5%;
        margin: 0 auto;
    }
    .whatIsGPT-block-box-secondString-title{
        font-size: 30px;
    }
}

@media(max-width:770px){
    .whatIsGPT-block{
        width: 97%;
        height: 100%;
        margin-left: 0;
        margin: 0 auto;
    }
    .whatIsGPT-block-box{
        width: 100%;
    }
    .whatIsGPT-block-box-firstString{
        margin-bottom: 40px;
        flex-direction: column;
    }
    .whatIsGPT-block-box-firstString-title{
        text-align: center;
        margin-bottom: 5px;
    }
    .whatIsGPT-block-box-firstString-text{
        width: 100%;
        text-align: center;
    }
    .whatIsGPT-block-box-secondString{
        flex-direction: column;
    }
    .whatIsGPT-block-box-secondString-title{
        width: 100%;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .whatIsGPT-block-box-thirdString{
        margin-top: 40px;
        flex-direction: column;
        gap: 20px;
    }
    .whatIsGPT-block-box-thirdString-firstBox,
    .whatIsGPT-block-box-thirdString-secondBox,
    .whatIsGPT-block-box-thirdString-thirdBox{
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width:427px){
    .whatIsGPT-block{
        width: 95%;
    }
    .whatIsGPT-block-box-secondString-title{
        font-size: 22px;
    }
}