.library-block{
    min-height: 938px;
    width: 81.3%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    margin-bottom: 154px;
}

.library-block-titleBlock{
    width: 60%;
    height: 18%;
    margin-bottom: 90px;
}

.library-block-titleBlock p{
    font-size: 56px;
    font-weight: 700;
    color: transparent;
    background: linear-gradient(to right, #AE67FA, #F49867);
    -webkit-background-clip: text;
}

.library-block-library{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0px;
    gap: 49.51px;
    overflow: hidden;
}

.library-block-library-leftBlock{
    height: 100%;
    width: 35.828%;
}

.library-block-library-leftBlock img{
    width: 100%;
    height: 287px;
}

.library-block-library-leftBlock-description{
    width: 100%;
    height: 362px;
    background-color: #042C54;
    margin-top: -5px;
    padding: 33px 49px 27px 26px;
}

.library-block-library-leftBlock-description-data{
    color: white;
    font-size: 11.65px;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.library-block-library-leftBlock-description h3{
    font-size: 25.11px;
    color: white;
    font-weight: 700;
    margin-bottom: 145px;
}

.library-block-library-leftBlock-description-link{
    color:white;
    font-size:11.65px
}

.library-block-library-rightBlock{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.library-block-library-rightBlock-firstLine{
    width: 100%;
    height: 314px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.library-block-library-rightBlock-secondLine{
    width: 100%;
    height: 314px;
    display: flex;
    justify-content: space-between;
}

.library-block-library-rightBlock-firstLine-leftBox,
.library-block-library-rightBlock-firstLine-rightBox,
.library-block-library-rightBlock-secondLine-leftBox,
.library-block-library-rightBlock-secondLine-rightBox{
    height: 100%;
    width: 47%;
    overflow: hidden;
}

.library-block-library-rightBlock-firstLine-leftBox img,
.library-block-library-rightBlock-firstLine-rightBox img,
.library-block-library-rightBlock-secondLine-leftBox img,
.library-block-library-rightBlock-secondLine-rightBox img{
    width: 100%;
    height: 130px;
}

.library-block-library-rightBlock-firstLine-leftBox-description,
.library-block-library-rightBlock-firstLine-rightBox-description,
.library-block-library-rightBlock-secondLine-leftBox-description,
.library-block-library-rightBlock-secondLine-rightBox-description{
    width: 100%;
    height: 100%;
    background-color: #042C54;
    margin-top: -5px;
    padding: 7px 17px 14px 26px;
}

.library-block-library-rightBlock-firstLine-leftBox-description-data,
.library-block-library-rightBlock-firstLine-rightBox-description-data,
.library-block-library-rightBlock-secondLine-leftBox-description-data,
.library-block-library-rightBlock-secondLine-rightBox-description-data{
    color: white;
    font-size: 11.65px;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.library-block-library-rightBlock-firstLine-leftBox-description h3,
.library-block-library-rightBlock-firstLine-rightBox-description h3,
.library-block-library-rightBlock-secondLine-leftBox-description h3,
.library-block-library-rightBlock-secondLine-rightBox-description h3{
    color: white;
    font-size: 19.32px;
    font-weight: 700;
    margin-bottom: 32px;
}

.library-block-library-rightBlock-firstLine-leftBlock-description-link,
.library-block-library-rightBlock-firstLine-rightBox-description-link,
.library-block-library-rightBlock-secondLine-leftBlock-description-link,
.library-block-library-rightBlock-firstLine-rightBox-description-link{
    color: white;
    font-size: 11.65px;
    height: 35px;
    display: flex;
    align-items: center;
}

@media(max-width:1024px){
    .library-block{
        width: 97%;
        margin-left: 0%;
        margin: 0 auto;
    }
    .library-block-titleBlock{
        width: 100%;
        text-align: center;
    }
    .library-block-library-rightBlock-firstLine-leftBox-description h3,
    .library-block-library-rightBlock-firstLine-rightBox-description h3,
    .library-block-library-rightBlock-secondLine-leftBox-description h3,
    .library-block-library-rightBlock-secondLine-rightBox-description h3{
        color: white;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .library-block-library-leftBlock-description h3{
        font-size: 17px;
        color: white;
        font-weight: 700;
        margin-bottom: 145px;
        height: 100px;
    }
}

@media(max-width:770px){
    .library-block{
        min-height: 938px;
        width: 97%;
        margin-left: 0%;
        margin: 0 auto;
        margin-top: -50px;
    }
    .library-block-titleBlock{
        width: 100%;
        text-align: center;
    }
    .library-block-titleBlock p{
        font-size: 43px;
    }
    .library-block-library{
        display: flex;
        flex-direction: column;
    }
    .library-block-library-leftBlock{
        height: 20%;
        width: 100%;
    }
    .library-block-library-leftBlock img{
        display: flex;
        margin: 0 auto;
        width: 100%;
        height: 250px;
    }
    .library-block-library-rightBlock{
        width: 100%;
    }
}

@media(max-width:427px){
    .library-block-titleBlock p{
        font-size: 34px;
    }
    .library-block-library-rightBlock-firstLine-leftBox-description h3,
    .library-block-library-rightBlock-firstLine-rightBox-description h3,
    .library-block-library-rightBlock-secondLine-leftBox-description h3,
    .library-block-library-rightBlock-secondLine-rightBox-description h3{
        font-size: 13px;
        margin-bottom: 15px;
}
}