.navigation-block{
    width: 84.47%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.navigation-block-mainImg{
    width: 62.56px;
    height: 16.02px;
}

.navigation-block-nav{
    display: flex;
    justify-content: space-between;
    width: 556px;
    height: 25px;
}

.navigation-block-btn{
    width: 19%;
    height: 58px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 17.26px;
}

.navigation-block-nav{
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    cursor: pointer;
}

.navigation-block-nav p:hover{
    color: rgb(113, 255, 243);
}

.navigation-block-btn-login{
    width: 25%;
    height: 25px;
    color: white;
    background-color: transparent;
    font-size: 18px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}

.navigation-block-btn-registered{
    width: 66%;
    height: 100%;
    background-color: #FF4820;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.navigation-block-btn-registered:hover,
.navigation-block-btn-login:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.navigation-block-mobMenu{
    display: none;
}

@media(max-width:1024px){
    .navigation-block{
        width: 100%;
        padding: 0 10px;
    }
    .navigation-block-nav{
        margin: 0 30px;
    }
  }

@media (max-width:770px){
    .navigation-block{
        width: 100%;
    }
    .navigation-block-nav{
        display: none;
    }
    .navigation-block-btn{
        width: 175px;
        height: 58px;
    }
    .navigation-block-btn-login{
        width: 57px;
        height: 25px;
    }
    .navigation-block-btn-registered{
        width: 90px;
        height: 100%;
    }
    .navigation-block-mobMenu{
        display: block;
    }
    .active{
        visibility: hidden;
    }
    .navigation-block-mobMenu-img{
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .navigation-block-mobMenu-menu{
        width: 150px;
        height: 250px;
        border-radius: 10px;
        background-color: #102647;
        position: absolute;
        right: 0;
        top: 10px;
        margin-right: 10px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .navigation-block-mobMenu-menu-close{
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
    .navigation-block-mobMenu-menu p{
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .navigation-block-mobMenu-menu p:hover{
        color: rgb(113, 255, 243);
    }
}

@media(max-width:427px){
    .navigation-block{
        margin-top: 20px;
    }
    .navigation-block-mobMenu-menu{
        top: 65px;
    }
    .active{
        display: none;
    }
    .activeNavBlock{
        position: absolute;
        right: 0;
    }
    .navigation-block-btn{
        gap: 10px;
    }
  }

  @media(max-width:320px){
    .navigation-block-mobMenu-img{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .navigation-block-btn{
        gap: 5px;
    }
  }