*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  background-color: #040C18;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-img{
  width: 1013px;
  height: 1013px;
  position: absolute;
  top: -140px;
  left: -100px;
}

.second-img{
  width: 701px;
  height: 496px;
  position: absolute;
  right: -500px;
  border-radius: 50%;
  top: 500px;
}

.third-img{
  width: 777px;
  height: 777px;
  position: absolute;
  left: -100px;
  top: 1712px;
}

.content-box{
  width: 1440px;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.whatIsGPT-block-box-secondString-title{
  font-size: 34px;
  font-weight: 700;
  background: linear-gradient(to right, #AE67FA, #F49867);
  -webkit-background-clip: text;
  color: transparent;
  width: 45.5%;
}

@media(max-width:1024px){
  .content-box{
    width: 100%;
  }
  .main-img{
    width: 760px;
    height: 760px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .second-img{
    right: -400px;
  }
}

@media(max-width:770px){
  .main-img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .second-img{
    right: -300px;
    top: 300px;
  }
}

@media(max-width:550px){
  .content-box{
    margin: 0 10px;
  }
  .main-img{
    width: 400px;
    height: 400px;
  }
}

@media(max-width:550px){
  .main-img{
    width: 320px;
    height: 320px;
  }
}