*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  background-color: #040C18;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img{
  width: 1013px;
  height: 1013px;
  position: absolute;
  top: -100px;
  left: -100px;
}

.content-box{
  width: 1440px;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
}

@media(max-width:1024px){
  .content-box{
    width: 100%;
  }
  .main-img{
    width: 760px;
    height: 760px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

@media(max-width:770px){
  .main-img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

@media(max-width:550px){
  .content-box{
    margin: 0 10px;
  }
  .main-img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}